<form action="/tasks/add" method="POST">
  <div>
    <label for="title">Write a title</label>
    <input type="text" name="title" placeholder="title" id="title" />
  </div>
  <div>
    <label for="description">Share your content</label>
    <textarea
      name="description"
      placeholder="share content"
      id="description"
      cols="30"
      rows="10"
    ></textarea>
  </div>
  <button>Share</button>
</form>