<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <form action="/tasks/add" method="POST">
    <div>
      <label for="title">Write a title</label>
      <input
        type="text"
        name="title"
        placeholder="title"
        id="title"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>
    <div>
      <label for="description">Share content</label>
      <textarea
        name="description"
        placeholder="share content"
        id="description"
        cols="5"
        rows="1"
        class="form-control rounded-0 bg-dark text-white"
      ></textarea>
    </div>
    <button class="btn btn-dark btn-sm mt-2"><i class="fas fa-share-square"></i>Add link</button>
  </form>
</div>