
  <form class="form-container" action="/tasks/add" method="POST">
    
      <label for="title">Descriptive title</label>
      <input
        type="text"
        name="title"
        placeholder="Title"
        id="title"
        class="form-title"
        required
      />
    
      <label for="description">Link URL</label>
      <input
        name="description"
        type="url"
        placeholder="URL"
        id="description"
        class="form-content"
        required
      />
      {{! <textarea
        name="description"
        placeholder="share content"
        id="description"
        cols="5"
        rows="1"
        class="form-control rounded-0 bg-dark text-white"
      ></textarea> }}
    
    <button class="form-btn"><i
        class="fas fa-share-square"
      ></i>Add</button>
  </form>