<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-3">
      <div class="card card-body bg-dark p-4">
        <h1>Update</h1>
        <form action="/tasks/{{task._id}}/edit" method="POST">

          <div class="mb-3">
            <input
              type="text"
              name="title"
              placeholder="Title"
              value="{{task.title}}"
              class="form-control rounded-0 bg-dark"
            />
          </div>

          <div class="mb-3">
            <input
              name="description"
              type="url"
              placeholder="share link"
              value="{{task.description}}"
              id="description"
              class="form-control rounded-0 bg-dark"
            />
            {{!-- <textarea
              name="description"
              rows="3"
              placeholder="Add a description"
              class="form-control rounded-0 bg-dark text-white"
            >
              {{task.description}}
            </textarea> --}}
          </div>

          <button class="btn btn-dark">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>