<form action="/tasks/{{task._id}}/edit" method="POST">

  <input type="text" name="title" placeholder="Title" value="{{task.title}}" />

  <textarea name="description" rows="3" placeholder="Add a description">
    {{task.description}}
  </textarea>

  <button>Update</button>
</form>