<div class="content_container">
    <div class="main-container">
        
            {{> tasks/taskForm }}
        
    </div>
    <div class="table-container">

            {{> tasks/taskTable }}
        
    </div>
</div>