<div class="main-welcome">
  <div class="bg-neutral w-85 max-w-prose text-center m-auto mt-32">
    <h2 class="font-bold">Te damos la bienvenida</h2>
    <p>
      {{! <span class="text-bold text-orange-500">NoStateNode</span> }}
      <span class="text-orange-300">N</span>o
      <span class="text-orange-300">S</span>tate
      <span class="text-orange-300">N</span>ode es un espacio para compartir
      ideas, recursos y buscar financiación para proyectos. Para comenzar debes
      crear una cuenta, si ya la tienes inicia sesión. Gracias.
    </p>
    <div class="m-4 py-2">
      <a
        class="bg-orange-600 py-2 outline-none hover:bg-orange-400 border-none px-3 text-black font-bold border rounded"
        href="/register"
      >
        Registrarse
      </a>
    </div>
  </div>
</div>