{{#if success_msg}}
  <div
    class="p-4 text-sm text-center text-green-800 rounded-lg bg-dark-50 dark:bg-dark-800 dark:text-green-400"
    role="alert"
  >
    <span class="font-medium">Great!!</span>
    {{success_msg}}
  </div>
{{/if}}