<nav class="nav-container">
  <a href="/"><h1>
    <span class="text-orange-300">N</span>o<span
      class="text-orange-300"
    >S</span>tate<span class="text-orange-300">N</span>ode
  </h1></a>
  <img src="/icons/lunaticoin.png" alt="horse coin" width="80" />
  <button
    class="bg-orange-600 hover:bg-orange-400 w-50 border-none text-black block border rounded py-1 px-3 m-3"
  >
    <a class="font-bold" href="#!">Ingresar</a>
  </button>
  {{! <button class="buttons">Login</button> }}

</nav>