<nav class="navbar navbar-dark bg-dark mb-4">

  <div class="container">
    <img src="/icons/lunaticoin.png" alt="horse coin" width="80">
    <a href="/" class="navbar-brand"><h1>NoStateNode</h1></a>
  </div>
  
</nav>

