<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>NoStateNode</title>
    
    <script src="https://kit.fontawesome.com/a9d601c6bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="\icons\favicon.ico">
</head>
<body>
    
    {{> navbar }}

    {{{ body }}}

    {{> footer}}

</body>
</html>